.vscode/**
.vscode-test/**
src/**
webview/src/**
webview/node_modules/**
webview/package.json
webview/pnpm-lock.yaml
webview/tsconfig.json
webview/tsconfig.tsbuildinfo
webview/vite.config.ts
webview/index.html
webview/build/index.html
node_modules/**
*.ts
!*.d.ts
.gitignore
tsconfig.json
esbuild.mjs
*.map
*.md
.eslintrc*
pnpm-lock.yaml
